<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carefinder.dao.heat.HeatDAO">
    <update id="updateHeat">
        UPDATE heat
        SET
            temperature = #{temperature},
            memo = #{memo},
            recordDate = #{recordDate},
            childId = #{childId, jdbcType=INTEGER}
        WHERE
            heatNo = #{heatNo}
    </update>

    <select id="selectByChild" resultType="com.carefinder.dto.heat.HeatDTO">
        SELECT * FROM heat
        WHERE mno = #{mno}
        <choose>
            <when test="childId == 0 or childId == null">
                AND childId IS NULL
            </when>
            <otherwise>
                AND childId = #{childId}
            </otherwise>
        </choose>
        ORDER BY recordDate DESC, heatNo DESC

    </select>


    <insert id="insertHeat">
        INSERT INTO heat (mno,
                          childId,
                          temperature,
                          memo,
                          recordDate)
        VALUES (#{mno},
                #{childId, jdbcType=INTEGER},
                #{temperature},
                #{memo},
                #{recordDate})
    </insert>

    <delete id="deleteHeat">
        DELETE FROM heat WHERE heatNo = #{heatNo}
    </delete>

    <select id="selectChildList" resultType="com.carefinder.dto.child.ChildDTO">
        SELECT * FROM child
        WHERE mno = #{mno}
        ORDER BY childId ASC
    </select>

</mapper>